POSTGRES_DB=quinch
POSTGRES_USER=quinch_user
POSTGRES_PASSWORD=CHANGER_MOI

# Doit être identique à REDIS_PASSWORD dans backend/.env.docker
REDIS_PASSWORD=CHANGER_MOI_AUSSI
REDIS_MAXMEMORY=512mb

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=CHANGER_MOI